._7qgi{cursor:pointer;height:40px;position:absolute;right:12px;top:12px;width:40px}._7qmz{background:#f2f3f5;border-color:#ebedf0;border-radius:50%;border-style:solid;border-width:1px;height:40px;overflow:hidden;width:40px}._7qib{padding:10px}

#bootloader_1eE3c{height:42px;}.bootloader_1eE3c{display:block!important;}